<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <li><%= link_to "Books", books_path, class: "btn btn-lg btn-primary" %></li>
    </section>
  </aside>
</div>