<% provide(:title, 'All books') %>
<h1>All books</h1>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      <%= gravatar_for book, size: 50 %>
      <%= link_to book.name, book %>
    </li>
  <% end %>
</ul>