<% provide(:title, 'All books') %>
<h1>All books</h1>

<%= will_paginate %>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      
      <%= link_to book.title, book %>
      <br>
      <%= link_to "delete", book, method: :delete %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>